/* 
Soft black: #212529
Nice blue: #3f37c9
Low gray: #e9ecef
Btn black: #495057


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/images/abstractlines.jpeg);
}

header {
  /* background-color: blanchedalmond; */
  width: 100vw;
  height: 16rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: rgb(90, 0, 208);
}

/* main section - card section */

main {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  flex-direction: column;
}

.brand-options-menu {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.brand-btn {
  width: 26%;
  height: 2.2rem;
  background-color: #495057;
  margin-bottom: 1.5rem;

  border: none;
  border-radius: 1rem;

  transition: all 0.3s ease;
}

.brand-btn:hover {
  transform: scale(1.1);
}

.card-style {
  background-color: #f8f9fa;
  width: 65%;
  height: 65vh;
  margin: auto;

  border-radius: 1rem;

  display: grid;
  grid-template-columns: 3fr 1.2fr;

  margin-bottom: 2rem;

  box-shadow: 0 10px 16px #49505715;
}

.image-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  border-radius: 0 1rem 1rem 0;
  /* grid-column: 2; */
}

.brand-options-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.brand-btn p {
  font-size: 1.2rem;
  color: #e9ecef;
  margin-right: 0.5rem;
}

.brand-btn,
.ph-duotone,
.ph-wallet {
  font-size: 1.8rem;
  /* color: #51db1f; */
}

.ph-rocket,
.ph-rocket-launch {
  color: rgb(81, 219, 31);
}

.ph-bus,
.ph-van {
  color: rgb(255, 108, 10);
}

.ph-airplane-taxiing,
.ph-airplane-takeoff {
  color: rgb(214, 66, 255);
}

.ph-cursor-click {
  font-size: 1.8rem;
  color: #5a00d0;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-boxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-content: space-between;
  justify-content: center;
  text-align: center;
}

.form-boxes label {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5a00d0;
}

.select,
input {
  text-align: center;
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #dcdcdd;
  color: #212529;

  font-size: 1.2rem;
}

/* Payment section */
.secure-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.hide {
  display: none;
}

.pay-section {
  justify-content: left;
  align-items: first baseline;
  padding: 4rem;
}

.form-div p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.pay-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.pay-div input {
  width: 100%;
  border-radius: 0.2rem;
  padding: 0.2rem;
  border: 1px solid;
  background-color: #f7f6f6;
  border-color: #495057;
}

.pay-div label {
  margin-bottom: 0.3rem;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-info input {
  width: 100%;
}

.security {
  margin-left: 0.5rem;
}

.ph-shield-check {
  color: #5a00d0;
}

.ph-wallet {
}

.pay-btn {
  border: none;
  border-radius: 2rem;
  width: 15rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
  background-color: #5a00d0;
  color: #dcdcdd;
}

.pay-btn p,
.pay-btn i {
  text-align: center;
  margin: auto 0;
}
